<app-header [transparent]="true" [hasMenu]="false" color="#fafafa"></app-header>

<ion-content [fullscreen]="true">
  <div class="landingPage">
    <div class="info">
      <h1 class="title">Encontre uma van para sua próxima aventura.</h1>
      <span class="description">
        Encontre vans confortáveis e prontas para a estrada. Perfeito para viagens em família ou uma escapadela com amigos
      </span>
    </div>


    <ion-card class="searchCard">
      <ion-card-header>
        <ion-card-title>Busque por Aqui</ion-card-title>
        <ion-card-subtitle>Preencha os campos abaixo</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="locationFilter">
          <app-input placeholder="Lençóis Paulista, SP" label="Origem"></app-input>
          <div class="spacing"></div>
          <app-input placeholder="Campos do Jordão, SP" label="Destino"></app-input>
        </div>
        <div class="dateFilter">
          <app-input placeholder="dd/mm/yyyy" label="De" type="date"></app-input>
          <app-input placeholder="dd/mm/yyyy" label="Até" type="date"></app-input>
        </div>

        <ion-button expand="block" class="search" (click)="handleSearch()">Confirmar Busca</ion-button>
        <div class="or"><span></span><p>ou</p><span></span></div>
        <ion-button expand="block" class="authentication" (click)="navigateByUrl('login')">Entrar com uma conta</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
