.landingPage {
  background-image: url('../../../assets/imgs/background-newsletter.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;

  display: flex;
  flex-direction: column;

  .info {
    margin-right: auto;
    margin-left: auto;
    margin-top: 25%;
    width: 89%;
    text-align: start;

    .title {
      margin-top: 0;
      font-weight: bold;
      color: #ffffff;
      font-size: 28px;
    }

    .description {
      color: #D4D4D8;
      font-size: 12px;
    }
  }

  .searchCard {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;

    ion-card-header {
      margin-bottom: 5%;

      ion-card-title {
        font-weight: 600;
        font-size: 1rem;
        color: var(--ion-color-bv-text-primary);
      }
      ion-card-subtitle {
        font-size: 12px;
        color: var(--ion-color-bv-text-secondary);
      }
    }

    ion-card-content {
      .dateFilter {
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        app-input {
          width: 47.5%;
        }
      }

      .locationFilter {
        display: flex;
        flex-direction: column;
        height: 50%;
        justify-content: space-between;

        .spacing {
          margin-top: 10px;
        }
      }

      .search {
        --border-radius: 6px;
        text-transform: none;
        font-weight: 300;
      }

      .or {
        text-align: center;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 2px;
        margin-right: 2px;

        span {
          width: 45%;
          height: 1px;
          border: 0;
          background-color: #737373;
        }
      }

      .authentication {
        --border-radius: 6px;
        text-transform: none;
        font-weight: 700;
      }
    }
  }
}
