.switch {
  min-width: 64px;
  min-height: 30px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding-right: 4px;
  padding-left: 4px;
  justify-content: space-between;
  background-color: var(--ion-color-bv-light);
  border: 1px solid var(--ion-color-bv-dark);

  div {
    aspect-ratio: 1;
    height: 22.5px;
    border-radius: 100%;
    background-color:  var(--ion-color-bv-dark);
  }

  .icon {
    aspect-ratio: 1;
    font-size: 22.5px;
  }
}

.theme {
  display: flex;
  height: auto;

  ion-text {
    margin: auto;
  }
}

.switchButton {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
