.forms-start {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .profilePicture {
    aspect-ratio: 1;
    width: 60%;
    border-radius: 16px;
  }
}

.forms-end {
  margin-top: 16px;
  text-align: center;
  width: 100%;
  .deleteAccount {
    font-size: 18px;
    color: var(--ion-color-bv-danger-secondary);
  }
}
