ion-toolbar {
  text-align: center;
  color: #000000;
  --background: #ffffff;
  --min-height: 64px;

  ion-title {
    font-weight: 900;
    font-style: italic;
    font-size: 20px;
    text-align: start;
  }
}
