<ion-header [translucent]="true" [ngClass]="{ transparentHeader: transparent }">
  <ion-toolbar [ngClass]="{ transparentToolbar: transparent }">
    <ion-buttons slot="start" *ngIf="backButton">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title [ngStyle]="{ color: color }">BUSCAVAN</ion-title>

    <ion-buttons slot="end" *ngIf="hasIcon">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
