ion-toolbar {
  text-align: center;
  --min-height: 64px;
  --height: 64px;

  ion-title {
    color: var(--ion-color-bv-dark);
    font-weight: 900;
    font-style: italic;
    font-size: 20px;
    text-align: start;
  }
}

.transparentToolbar {
  --background: #ffffff00 !important;
}

.transparentHeader {
  box-shadow: none;
}

.whiteTitle {
  color: #ffffff !important;
}
