<div class="trips-carrousel">
  <h1>PERTO DE VOCÊ</h1>
  <p>{{ city }} - {{ state }}</p>

  <swiper-container [slidesPerView]="2.1" loop>
    <swiper-slide *ngFor="let trip of trips">
      <div class="trip">
        <img [src]="trip.image" [alt]="trip.name">
        <div class="line"></div>
        <div>
          <ion-icon name="location-sharp"></ion-icon>
          <div>
            <h1>{{ trip.location }}</h1>
            <p>{{ trip.price }}</p>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
