ion-input {
  min-height: 40px;
  height: 40px;
  --background: #ffffff;
  --border-color: #E4E4E7;
  --border-radius: 6px;
  --placeholder-color: #71717A;
  --highlight-color-focused: #71717A;
  --color: #000000;
  --border-width: 1px;
}
