<ion-content [fullscreen]="true" class="ion-padding">
  <div class="content">
    <ion-text class="title">Estamos terminando.</ion-text>
    <ion-text class="description">Tire ou Envie uma foto para completar seu cadastro</ion-text>
    <div class="picture">
      <img #imageElement>
    </div>
    <ion-button color="bv-dark" (click)="takePicture()">Tirar foto</ion-button>
    <ion-button color="bv-success" (click)="navigateByUrl('register-finished')" *ngIf="hasPhoto" fill="outline">Próximo</ion-button>
  </div>
</ion-content>
