<app-header [backButton]="true" defaultHref="register" [hasMenu]="false"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="content">
    <ion-text class="title">Tire uma foto da sua CNH</ion-text>
    <ion-text class="description">Envie uma imagem nítida</ion-text>
    <div class="picture">
      <img #imageElementFront>
    </div>
    <div class="picture">
      <img #imageElementBack>
    </div>

    <div class="buttons">
      <ion-button color="bv-dark" (click)="takePictureFront()">Enviar frente</ion-button>
      <ion-button color="bv-dark" (click)="takePictureBack()">Enviar verso</ion-button>
    </div>

    <ion-button color="bv-success" (click)="navigateByUrl('get-profile-picture')" *ngIf="hasFrontPhoto && hasBackPhoto" fill="outline">Próximo</ion-button>
  </div>
</ion-content>
