<app-header></app-header>

<ion-content [fullscreen]="true" scrollEvents (ionScroll)="scrolled($event)">

  <div class="landingPage">
    <div class="info">
      <h1 class="title">Encontre uma van para sua próxima aventura.</h1>
      <span class="description">
        Encontre vans confortáveis e prontas para a estrada. Perfeito para viagens em família ou uma escapadela com amigos
      </span>
    </div>


    <ion-card class="searchCard">
      <ion-card-header>
        <ion-card-title>Busque por Aqui</ion-card-title>
        <ion-card-subtitle>Preencha os campos abaixo</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="locationFilter">
            <ion-input label="Origem" labelPlacement="stacked" placeholder="Lençóis Paulista, SP" fill="outline"></ion-input>
            <ion-input label="Destino" labelPlacement="stacked" placeholder="Campos do Jordão, SP" fill="outline"></ion-input>
        </div>
        <div class="dateFilter">
            <ion-input label="De" labelPlacement="stacked" placeholder="dd/mm/yyyy" fill="outline" type="date"></ion-input>
            <ion-input label="Até" labelPlacement="stacked" placeholder="dd/mm/yyyy" fill="outline" type="date"></ion-input>
        </div>

        <ion-button expand="block">Confirmar Busca</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- <div class="ion-margin-top">
    <app-search-trips></app-search-trips>
  </div> -->

  <!-- <div class="ion-margin-top">
    <app-trips-carrousel></app-trips-carrousel>
  </div> -->

  <ion-card class="vehiclesCard">
    <ion-card-header>
      <ion-card-title>Vans Disponíveis</ion-card-title>
      <ion-card-subtitle>Veja aqui todas as vans disponíveis, de acordo com o origem/destino</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-img src="https://images.vexels.com/media/users/3/128645/isolated/preview/d96ab2658b0f1366bfc2d7074b49730b-van-retro-lustrosa.png"></ion-img>
          </ion-col>
          <ion-col>
            <ion-img src="https://images.vexels.com/media/users/3/128645/isolated/preview/d96ab2658b0f1366bfc2d7074b49730b-van-retro-lustrosa.png"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-img src="https://images.vexels.com/media/users/3/128645/isolated/preview/d96ab2658b0f1366bfc2d7074b49730b-van-retro-lustrosa.png"></ion-img>
          </ion-col>
          <ion-col>
            <ion-img src="https://images.vexels.com/media/users/3/128645/isolated/preview/d96ab2658b0f1366bfc2d7074b49730b-van-retro-lustrosa.png"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-img src="https://images.vexels.com/media/users/3/128645/isolated/preview/d96ab2658b0f1366bfc2d7074b49730b-van-retro-lustrosa.png"></ion-img>
          </ion-col>
          <ion-col>
            <ion-img src="https://images.vexels.com/media/users/3/128645/isolated/preview/d96ab2658b0f1366bfc2d7074b49730b-van-retro-lustrosa.png"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-img src="https://images.vexels.com/media/users/3/128645/isolated/preview/d96ab2658b0f1366bfc2d7074b49730b-van-retro-lustrosa.png"></ion-img>
          </ion-col>
          <ion-col>
            <ion-img src="https://images.vexels.com/media/users/3/128645/isolated/preview/d96ab2658b0f1366bfc2d7074b49730b-van-retro-lustrosa.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div class="advertisement">
    <p>Anuncie em nossa plataforma e entre em pro time da BuscaVans!</p>
    <ion-button>Cadastrar Veículos</ion-button>
  </div>
</ion-content>
