.landingPage {
  background-image: url('../../assets/imgs/background-newsletter.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 696px;

  display: flex;
  flex-direction: column;

  .info {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20%;
    width: 89%;
    text-align: start;

    .title {
      margin-top: 0;
      font-weight: bold;
      color: #ffffff;
      font-size: 28px;
    }

    .description {
      color: #D4D4D8;
      font-size: 12px;
    }
  }

  ion-card {
    margin-top: 15%;

    ion-card-header {
      margin-bottom: 5%;

      ion-card-title {
        color: #09090B;
        font-weight: 600;
        font-size: 1rem;
      }
      ion-card-subtitle {
        color: #71717A;
        font-size: 12px;
      }
    }

    ion-card-content {
      div {
        ion-input {
          min-height: 40px;
          height: 40px;
          --background: #ffffff;
          --border-color: #E4E4E7;
          --border-radius: 6px;
          --placeholder-color: #71717A;
          --highlight-color-focused: #71717A;
          --color: #000000;
          --border-width: 1px;
          margin-bottom: 5%;
        }
      }

      .dateFilter {
        display: flex;
        justify-content: space-between;
        ion-input {
          width: 45%;
        }
      }

      .locationFilter {
        display: flex;
        flex-direction: column;
        height: 50%;
        justify-content: space-between;
      }

      ion-button {
        --background: #18181B;
        --color: #FAFAFA;
        --border-radius: 6px;
        text-transform: none;
        font-weight: 300;
      }
    }
  }

}
