<app-header [backButton]="true" [hasMenu]="false" defaultHref="/tabs"></app-header>


<ion-content [fullscreen]="true" class="ion-padding-start ion-padding-end">
  <h1>Créditos</h1>
  <h3>Projeto de extensão - Buscavans</h3>

  <p>Coordenador</p>
  <app-user-item [icon]="true" text="Prof. Dr. Elvio Gilberto da Silva" />

  <p>Professor Colaborador</p>
  <app-user-item [icon]="true" text="Prof. Dr. Elvio Gilberto da Silva" />

  <p>Equipe</p>
  <div class="equipe">
    <app-user-item [icon]="true" text="Arthur Marques de Oliveira" [tags]="[tagsPreset.design, tagsPreset.mobile]" />
    <div class="equipe-item-margin"></div>
    <app-user-item [icon]="true" text="João Erik da Silva Crisóstomo" [tags]="[tagsPreset.mobile]" />
    <div class="equipe-item-margin"></div>
    <app-user-item [icon]="true" text="Lucas Vieira da Silva" [tags]="[tagsPreset.frontend]" />
    <div class="equipe-item-margin"></div>
    <app-user-item [icon]="true" text="Luiz Felipe Santana dos Santos" [tags]="[tagsPreset.backend]" />
    <div class="equipe-item-margin"></div>
    <app-user-item [icon]="true" text="Matheus Henrique Crispim Cola" [tags]="[tagsPreset.backend]" />
    <div class="equipe-item-margin"></div>
    <app-user-item [icon]="true" text="Pedro Henrique Vieira Ribeiro" [tags]="[tagsPreset.backend]" />
    <div class="equipe-item-margin"></div>
    <app-user-item [icon]="true" text="Richard Rodrigues da Silva" [tags]="[tagsPreset.design, tagsPreset.frontend]" />
    <div class="equipe-item-margin"></div>
    <app-user-item [icon]="true" text="Vinicius Henrique Santos Pinto" [tags]="[tagsPreset.frontend]" />
  </div>

  <div class="desenvolvimento">
    <p>Desenvolvimento</p>
    <img src="assets/imgs/logo-coordenadoria-extensao.png" alt="Logo da Coordenadoria de Extensão da UNISAGRADO">
    <span>José Augusto Magalhães – Coordenador de Extensão</span>
  </div>

  <div class="apoio">
    <p>Apoio</p>
    <img src="assets/imgs/logo-unisagrado.png" alt="Logo da UNISAGRADO">
  </div>

</ion-content>
