h1 {
  font-size: 26px;
  font-weight: bold;
  color: var(--ion-color-bv-text-primary);
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--ion-color-bv-text-primary);
}

p {
  font-size: 16px;
  color: var(--ion-color-bv-text-secondary);
  margin-bottom: 5px;
}

span {
  font-size: 12px;
  color: var(--ion-color-bv-text-secondary);
}

.desenvolvimento {
  display: flex;
  flex-direction: column;
  padding-top: 25px;

  img {
    align-self: center;
  }

  span {
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.apoio {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

  img {
    align-self: center;
  }

  p {
    text-align: center;
    color: var(--ion-color-bv-text-secondary);
  }
}

.equipe {
  .equipe-item-margin {
    margin-top: 12px;
  }
}
