.title {
  text-align: center;
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 900;
}

.images {
  swiper-slide {
    width: 100%;
    height: 35vh;
    display: flex;

    img {
      margin: auto;
      max-height: 35vh;
      filter: drop-shadow(0px 4px 4px #00000056);
    }
  }
}

.line {
  background-color: var(--ion-color-bv-text-tertiary);
  min-height: 1px;
  width: 100%;
  margin-bottom: 15px;
}

.info {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    align-items: center;
    justify-content: center;

    ion-icon {
      font-size: 2rem;
      margin: auto;
    }
    h1 {
      font-size: 2rem;
      margin: auto;
      color: var(--ion-color-bv-text-primary);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: 900;
    }
  }

  p {
    color: var(--ion-color-bv-success);
    font-size: 1.5rem;
    font-weight: 700;
  }
}
