<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="exit()">
        <ion-icon name="close" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">{{ data.name }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="info">
    <div>
      <ion-icon name="location-sharp"></ion-icon>
      <h1>{{ data.location }}</h1>
    </div>
  </div>

  <div>
    <swiper-container [slidesPerView]="1" class="images" pagination>
      <swiper-slide *ngFor="let image of images">
        <img
          [src]="image"
          [alt]="data.name"
        />
      </swiper-slide>
    </swiper-container>

    <div class="line"></div>
    <div class="info">
      <p>{{ data.price | currency }}</p>
    </div>
  </div>
</ion-content>
