<ion-card class="forms" color="bv-light">
  <h1>{{ title }}</h1>

  <div>
    <ng-content select="[start]"></ng-content>
  </div>

  <div *ngFor="let input of inputs" class="inputs">
    <div class="input">
      <app-input
        *ngIf="formGroup"
        [formGroup]="formGroup"
        [placeholder]="input.placeholder"
        [label]="input.label"
        [size]="input.size"
        [type]="input.type"
        [name]="input.name"
        [disabled]="!editable"
        [editButton]="editButton"
      ></app-input>
      <app-input
        *ngIf="!formGroup"
        [placeholder]="input.placeholder"
        [label]="input.label"
        [size]="input.size"
        [type]="input.type"
        [disabled]="!editable"
        [editButton]="editButton"
      ></app-input>
    </div>
  </div>

  <div *ngIf="filterInputs.length >= 1" class="filter">
    <ion-text class="fitlerInputTrigger" (click)="handleFilterInputs()" color="bv-text-secondary">
      <span *ngIf="filterInputsVisible">Ocultar</span>
      <span *ngIf="!filterInputsVisible">Mostrar</span>
      &nbsp;filtros
      <ion-icon src="assets/icons/filter.svg"></ion-icon>
    </ion-text>

    <div
      class="filterInputs"
      [ngStyle]="
        filterInputsVisible ? { display: 'block' } : { display: 'none' }
      "
    >
      <div class="filterInput" *ngFor="let filterInput of filterInputs">
        <app-input
          *ngIf="formGroup"
          [formGroup]="formGroup"
          [placeholder]="filterInput.placeholder"
          [label]="filterInput.label"
          [size]="filterInput.size"
          [type]="filterInput.type"
          [name]="filterInput.name"
          [disabled]="!editable"
          [editButton]="editButton"
        ></app-input>
        <app-input
          *ngIf="!formGroup"
          [placeholder]="filterInput.placeholder"
          [label]="filterInput.label"
          [size]="filterInput.size"
          [type]="filterInput.type"
          [disabled]="!editable"
          [editButton]="editButton"
        ></app-input>
      </div>
    </div>
  </div>

  <ion-button size="block" (click)="handleClick()" color="bv-dark">
    {{ buttonText }}
  </ion-button>

  <div>
    <ng-content select="[end]"></ng-content>
  </div>
</ion-card>
