<div class="forms">
  <h1>{{ title }}</h1>

  <div *ngFor="let input of inputs" class="inputs">
    <div class="input">
      <app-input [placeholder]="input.placeholder" [label]="input.label" [size]="input.size" [type]="input.type"></app-input>
    </div>
  </div>

  <div *ngIf="filterInputs.length >= 1" class="filter">
    <span class="fitlerInputTrigger" (click)="handleFilterInputs()">
      <span *ngIf="filterInputsVisible">Ocultar</span>
      <span *ngIf="!filterInputsVisible">Mostrar</span>
      &nbsp;filtros
      <ion-icon name="options"></ion-icon>
    </span>

    <div class="filterInputs" [ngStyle]="filterInputsVisible ? {display: 'block'} : {display: 'none'}">
      <div class="filterInput" *ngFor="let filterInput of filterInputs">
        <app-input [placeholder]="filterInput.placeholder" [label]="filterInput.label" [size]="filterInput.size" [type]="filterInput.type"></app-input>
      </div>
    </div>
  </div>

  <ion-button size="block" (click)="click">
    {{ buttonText }}
  </ion-button>
</div>
