.background {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;

  .item {
    width: 90%;
    margin: auto;
    text-align: center;
    .input {
      margin-bottom: 5%;
      text-align: start;
      font-size: 1rem;

      ion-input {
        min-height: 50px;
        margin-top: 3px;
        --border-radius: 6px !important;
        --border-width: 1px;
        --padding-top: 8px !important;
        --padding-bottom: 8px !important;
        --padding-start: 12px !important;
        --highlight-color: var(--ion-color-bv-dark);
      }

      ion-label {
        font-weight: 600;
        margin-left: 12px;
      }
    }

    ion-button {
      --border-radius: 6px;
      --box-shadow: none;
      width: 100%;
      height: 40px;
      text-transform: none;
      font-size: 14px;
      font-weight: 500;

      &.register {
        --background: #ffffff00;
        --border-color: var(--ion-color-bv-text-tertiary);
        --border-style: solid;
        --border-width: 1px;
        --color: var(--ion-color-bv-text-primary);
      }
    }
  }
}

.or {
  text-align: center;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    width: 40%;
    height: 1px;
    border: 0;
    background-color: #737373;
  }
}

h1 {
  font-weight: bold;
  color: var(--ion-color-bv-text-primary);
  font-size: 24px;
}

p {
  color: var(--ion-color-bv-text-secondary);
  font-size: 14px;
}
