<app-header [hasMenu]="false" [backButton]="true"></app-header>

<ion-content [fullscreen]="true">
  <div class="background">
    <div class="item">
      <form [formGroup]="loginForm" (submit)="login()">
        <h1>Faça Login no Buscavan</h1>
        <p>Preencha os dados abaixo para entrar no sistema</p>
        <div class="input">
          <ion-label color="bv-text-primary">CPF</ion-label>
          <ion-input
            placeholder="000.000.000-00"
            fill="outline"
            name="cpf"
            formControlName="cpf"
            maxlength="14"
            (keypress)="numericOnly($event)"
            mask="***.***.***-**"
            color="bv-dark"
          ></ion-input>
        </div>

        <div class="input">
          <ion-label color="bv-text-primary">Senha</ion-label>
          <ion-input
            placeholder="Digite sua senha"
            fill="outline"
            type="password"
            name="password"
            formControlName="password"
            color="bv-dark"
          ></ion-input>
        </div>
        <ion-button class="enter" type="submit" color="bv-dark"
          >Entrar no sistema</ion-button
        >
      </form>
      <div class="or">
        <span></span>
        <p>OU</p>
        <span></span>
      </div>
      <ion-button class="register" (click)="navigateByUrl('register')">
        Cadastre-se em nossa plataforma
      </ion-button>
      <p>
        Ao continuar, você concorda com os Termos de Serviço e Políticas de
        Privacidade
      </p>
    </div>
  </div>
</ion-content>
