<app-header [hasMenu]="false" [backButton]="true"></app-header>

<ion-content [fullscreen]="true">
  <div class="background">
    <app-forms
      [inputs]="searchInputs"
      buttonText="Entrar no sistema"
      [formGroup]="loginForm"
      ($submit)="login()"
      [lines]="false"
    >
      <div start>
        <h1 class="ion-text-center">Faça Login no Buscavan</h1>
        <p class="ion-text-center">Preencha os dados abaixo para entrar no sistema</p>
      </div>
      <div end>
        <div class="or">
          <span></span>
          <p>OU</p>
          <span></span>
        </div>
        <ion-button class="register" (click)="navigateByUrl('register')">
          Cadastre-se em nossa plataforma
        </ion-button>
        <p class="ion-text-center">
          Ao continuar, você concorda com os Termos de Serviço e Políticas de
          Privacidade
        </p>
      </div>
    </app-forms>
  </div>
</ion-content>
