.search {
  width: 85%;
  margin: auto;
  padding: 5%;
  border-radius: 16px;
  background: rgb(84,95,90);
  background: linear-gradient(180deg, rgba(84,95,90,1) 0%, rgba(70,184,150,1) 100%);
  filter: drop-shadow(0px 0px 16px #6b6b6b46);

  .searchText {
    padding: 0;
    margin: 0;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
  }

}

.searchbar {
  ion-searchbar {
    --background: #ffffff;
    --placeholder-color: #aaaaaa;
    --icon-color: #D4D4D4;
    --border-radius: 8px;
  }
}
