<ion-card color="bv-light" lines="none">
  <img [src]="trip.image" [alt]="trip.name" />

  <ion-card-header class="header">
    <ion-text class="name" color="bv-text-primary">{{ trip.name }}</ion-text>
    <ion-text class="price" color="bv-success">{{ trip.price | currency }}</ion-text>
  </ion-card-header>

  <ion-card-content class="content">
    <ion-text class="description" color="bv-text-secondary">{{ trip.description }}</ion-text>
  </ion-card-content>

  <ion-card-content class="footer">
    <ion-text class="date" color="bv-text-primary"><ion-icon src="assets/icons/date.svg "></ion-icon>{{ trip.goingDate }}</ion-text>
    <ion-text class="capacity" color="bv-text-primary"><ion-icon src="assets/icons/group.svg"></ion-icon>{{ trip.capacity }}</ion-text>
  </ion-card-content>

</ion-card>
