ion-card {
  padding: 15px;

  img {
    border-radius: 8px;
    aspect-ratio: 2 / 1;
    width: 100%;
  }

  .header {
    display: flex;
    flex-direction: row;
    font-weight: 800;
    justify-content: space-between;
    font-size: 16px;

    .name {
    }

    .price {

    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 16px;
    padding-top: 0;

    ion-text {
      display: flex;
      align-items: center;

      ion-icon {
        margin-right: 4px;
      }
    }

    ion-text + ion-text {
      margin-left: 18px;
    }
  }
}
