ion-tab-button {
  --color: var(--ion-color-bv-dark-secondary);
  --color-selected: var(--ion-color-bv-text-primary);
  --font-weight-selected: bold;
}

ion-icon {
  font-size: 24px;
}

ion-text {
  font-size: 10px;
}
