<ion-content class="menu" color="bv-light">
  <h1>Olá, {{ firstName }}</h1>
  <span class="line"></span>
  <ion-item button lines="none" color="bv-light">
    <ion-icon slot="start" name="person-outline"></ion-icon>
    <p>Perfil</p>
  </ion-item>
  <ion-item button lines="none" color="bv-light">
    <ion-icon slot="start" name="desktop-outline"></ion-icon>
    <p>Meu Painel</p>
  </ion-item>
  <ion-item button lines="none" (click)="navigateByUrl('/credits')" color="bv-light">
    <ion-icon slot="start" name="information-circle-outline"></ion-icon>
    <p>Créditos</p>
  </ion-item>
  <ion-item button lines="none" (click)="navigateByUrl('/configuration')" color="bv-light">
    <ion-icon slot="start" name="settings-outline"></ion-icon>
    <p>Configurações</p>
  </ion-item>
  <ion-item button lines="none" class="exit" color="bv-danger" (click)="exit()">
    <ion-icon slot="start" name="exit-outline"></ion-icon>
    <p slot="start">Sair</p>
  </ion-item>

  <div class="switchThemeButton">
    <app-switch-theme-button></app-switch-theme-button>
  </div>
</ion-content>
