.menu {
  height: 100vh;

  h1 {
    font-size: 1.7rem;
    text-align: center;
    width: 100%;
    font-weight: 700;
  }

  ion-item {
    padding-top: 5px;
    padding-bottom: 5px;

    p {
      font-size: 1rem;
      font-weight: 500;
    }

    ion-icon {
      --ionicon-stroke-width: 40px;
    }

    ion-button {
      width: 100%;
    }
  }

  .exit {
    --border-radius: 8px;
  }

  h1,
  ion-item {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--ion-color-bv-text-tertiary);
  border: 0;
  padding: 0 !important;
  display: flex;
}

.switchThemeButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
